BITBUCKET_CI=false
BW_CLIENTID=""
BW_CLIENTSECRET=""
BW_SESSION=""
BWS_ACCESS_TOKEN=""
CI_API_V4_URL="https://gitlab.com/api/v4"
EMPTYSCOPE_GPG_KEY_PRINT=""
EMPTYSCOPE_NAMESPACE_ID="57182844"
EMPTYSCOPE_NPM_TOKEN=""
FONTAWESOME_PACKAGE_PASSWORD=""
FONTAWESOME_PACKAGE_TOKEN=""
FONTAWESOME_PACKAGE_USERNAME=""
GITHUB_ACCESS_TOKEN_ID=""
GITHUB_ACCESS_TOKEN=""
GITHUB_ACTIONS=false
GITHUB_TOKEN=$GITHUB_ACCESS_TOKEN
GITHUB_USERNAME=""
GITLAB_ACCESS_TOKEN_ID=""
GITLAB_ACCESS_TOKEN=""
GITLAB_CI=false
GITLAB_EMAIL=""
GITLAB_TOKEN=$GITLAB_ACCESS_TOKEN
GITLAB_USERNAME=""
HOMEBREW_GITHUB_API_TOKEN="S"
ME_GPG_KEY_PRINT=""
MSSQL_USER=""
MSSQL_SA_PASSWORD=""
NPM_TOKEN=""
NUGET_USERNAME=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
PROXYMAN_ACCESS_TOKEN=""
PROXYMAN_ID=""
PROXYMAN_PATH=".proxyman/scripting/"
RABBITMQ_DEFAULT_USER=""
RABBITMQ_DEFAULT_PASS=""
RXL_FDB_DATABASE_API_PATH_OVERRIDE=""
RXLIGHTNING_GPG_KEY_PRINT=""
RXLIGHTNING_NAMESPACE_ID="68102594"
RXLIGHTNING_NPM_TOKEN=""
TF_BUILD=false
YOUR_NAME=""
