CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*.pfx
**.pfx
*.cert
**.cert
/dot_terraform.d/checkpoint_signature.tmpl
/dot_terraform.d/checkpoint_cache.tmpl
.DS_Store
.DS_Store/**/*
*.DS_Store
**/.DS_Store
**/.DS_Store/**/*
/dot_gitpod-flex
/private_dot_net
/dot_azurite/AzuriteConfig.tmpl
/private_dot_lima
/dot_kube
/dot_config/helm
/dot_go
