tap "auth0/auth0-cli"
tap "colindean/fonts-nonfree"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/services"
tap "isen-ng/dotnet-sdk-versions"
tap "keith/formulae"
brew "openssl@3"
brew "aria2"
brew "aspell"
brew "autoconf"
brew "automake"
brew "azure-cli"
brew "bat"
brew "python@3.12"
brew "chezmoi"
brew "dehydrated"
brew "diff-so-fancy"
brew "docker-completion"
brew "doggo"
brew "dotnet"
brew "fastlane"
brew "gcc"
brew "fzf"
brew "gh"
brew "git"
brew "git-gui"
brew "git-lfs"
brew "gitbackup"
brew "gitversion"
brew "glab"
brew "gnupg"
brew "gnu-sed"
brew "go"
brew "hq"
brew "ncurses"
brew "htop"
brew "jenv"
brew "jq"
brew "openjdk"
brew "kotlin"
brew "less"
brew "lynx"
brew "mas"
brew "minica"
brew "mono-libgdiplus"
brew "neomutt"
brew "neovim"
brew "nnn"
brew "nvm"
brew "openapi-generator"
brew "openconnect"
brew "pandoc"
brew "pass"
brew "pinentry-mac"
brew "pyenv"
brew "ruby-build"
brew "rbenv"
brew "repo"
brew "ripgrep"
brew "rustup"
brew "swaks"
brew "tmux"
brew "vips"
brew "volta"
brew "wget"
brew "wget2"
brew "whalebrew"
brew "xcenv"
brew "xq"
brew "zsh"
brew "zsh-autosuggestions"
brew "auth0/auth0-cli/auth0"
brew "hashicorp/tap/boundary"
brew "hashicorp/tap/consul"
brew "hashicorp/tap/nomad"
brew "hashicorp/tap/packer"
brew "hashicorp/tap/terraform"
brew "hashicorp/tap/vault"
brew "keith/formulae/reminders-cli"
cask "alfred"
cask "azure-data-studio"
cask "beyond-compare"
cask "discord"
cask "docker"
cask "firefox"
cask "font-hack-nerd-font"
cask "font-microsoft-office"
cask "google-chrome"
cask "gpg-suite"
cask "hashicorp-vagrant"
cask "iterm2"
cask "itermai"
cask "jetbrains-toolbox"
cask "microsoft-auto-update"
cask "microsoft-azure-storage-explorer"
cask "microsoft-teams"
cask "parallels"
cask "postman"
cask "postman-cli"
cask "powershell"
cask "proxyman"
cask "tower"
cask "visual-studio-code"
cask "zoom"
mas "Affinity Designer", id: 824171161
mas "Affinity Photo", id: 824183456
mas "Apple Configurator", id: 1037126344
mas "Bitwarden", id: 1352778147
mas "Boop", id: 1518425043
mas "Cardhop", id: 1290358394
mas "Developer", id: 640199958
mas "Fantastical", id: 975937182
mas "Final Cut Pro", id: 424389933
mas "FTP", id: 6448847832
mas "GarageBand", id: 682658836
mas "iMovie", id: 408981434
mas "Jump Desktop", id: 524141863
mas "Keka", id: 470158793
mas "Keynote", id: 409183694
mas "Logic Pro", id: 634148309
mas "Magnet", id: 441258766
mas "Meshtastic", id: 1586432531
mas "Microsoft Excel", id: 462058435
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
mas "Noir", id: 1592917505
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "PCalc", id: 403504866
mas "PDF Expert", id: 1055273043
mas "Photomator", id: 1444636541
mas "Pixelmator Pro", id: 1289583905
mas "PLIST Editor", id: 1157491961
mas "Prime Video", id: 545519333
mas "Redis Insight", id: 6446987963
mas "S3", id: 6447647340
mas "Shell Fish", id: 1336634154
mas "Slack", id: 803453959
mas "Source", id: 6450856155
mas "TestFlight", id: 899247664
mas "Transmit", id: 1436522307
mas "Transporter", id: 1450874784
mas "Xcode", id: 497799835
whalebrew "directory"
vscode "editorconfig.editorconfig"
vscode "esbenp.prettier-vscode"
vscode "github.github-vscode-theme"
vscode "pkief.material-icon-theme"
vscode "redhat.vscode-yaml"
