eval "$(/opt/homebrew/bin/brew shellenv)"
eval "$(rbenv init - --no-rehash zsh)"
eval "$(jenv init -)"
eval "$(pyenv init -)"
eval "$(xcenv init -)"

zsh-autosuggestions=/opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
if [ -e "$autosuggestions" ]; then
    source $autosuggestions
fi

setopt completealiases
