echo ".zshrc HOME: $HOME"

if [[ -z $GPG_LAUNCH_AGENT ]]; then
    export GPG_LAUNCH_AGENT=$(tty)
fi

if [[ -z $GPG_TTY ]]; then
    export GPG_TTY=$(tty)
fi

# Themes.
ZSH_THEME="gentoo"

# Case-sensitive completion.
CASE_SENSITIVE="true"

# Weekly auto-update checks.
zstyle ':omz:update' mode auto
zstyle ':omz:update' frequency 7

DISABLE_UPDATE_PROMPT=true

# Disable auto-setting terminal title.
DISABLE_AUTO_TITLE="true"

# Disable marking untracked files under VCS as dirty.
DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line to enable command auto-correction.
ENABLE_CORRECTION="false"
# DISABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

# Enable GNU ls In macOS And freeBSD Systems
zstyle ':omz:lib:theme-and-appearance' gnu-ls yes

# History.
HIST_STAMPS="yyyy-mm-dd"

# Plugins.
plugins=(
    git
    macos
    z
)

# Environment variables.
source ~/.config/me/.env

# Oh My Zsh.
source ~/.oh-my-zsh/oh-my-zsh.sh

# User config.
source ~/.config/zsh/setopt.zsh

# Aliases.
source ~/.config/me/.aliases

# Functions.
source ~/.config/me/.functions

# Font
source ~/.config/sketchybar/icon_map.sh

# dircolors.
if [ -x "$(command -v dircolors)" ]; then
    eval "$(dircolors -b ~/.dircolors)"
fi

# fzf key bindings.
if [ -x "$(command -v fzf)" ]; then
    source ~/.fzf/shell/key-bindings.zsh
    source <(fzf --zsh)
fi

# Ghostty shell integration for Bash. This should be at the top of your zsh!
# test -e "${GHOSTTY_RESOURCES_DIR}/shell-integration/zsh/ghostty-integration" && builtin source "${GHOSTTY_RESOURCES_DIR}/shell-integration/zsh/ghostty-integration"

# iterm2 shell integration.
test -e "${HOME}/.iterm2/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2/.iterm2_shell_integration.zsh"

PROMPT="%(?:%{$fg_bold[green]%}%1{➜%} :%{$fg_bold[red]%}%1{➜%} ) %{$fg[cyan]%}%c%{$reset_color%}"
PROMPT+=' $(git_prompt_info)'

ZSH_THEME_GIT_PROMPT_PREFIX="%{$fg_bold[blue]%}git:(%{$fg[red]%}"
ZSH_THEME_GIT_PROMPT_SUFFIX="%{$reset_color%} "
ZSH_THEME_GIT_PROMPT_DIRTY="%{$fg[blue]%}) %{$fg[yellow]%}%1{✗%}"
ZSH_THEME_GIT_PROMPT_CLEAN="%{$fg[blue]%})"
# The following lines have been added by Docker Desktop to enable Docker CLI completions.
fpath=($HOME/.docker/completions $fpath)
autoload -Uz compinit
compinit
# End of Docker CLI completions
