echo ".zprofile HOME: $HOME"

eval "$($HOMEBREW_PATH/brew shellenv)"
eval "$(rbenv init - --no-rehash zsh)"
eval "$(jenv init -)"
eval "$(pyenv init -)"
eval "$(xcenv init -)"

if [ -f $HOMEBREW_ROOT/share/zsh-autosuggestions/zsh-autosuggestions.zsh ]; then
    source $HOMEBREW_ROOT/share/zsh-autosuggestions/zsh-autosuggestions.zsh
fi

setopt completealiases
