echo ".bash_profile HOME: $HOME"

if [ -f $HOME/.zprofile ]; then
    source $HOME/.zprofile
fi

if [ -f $HOME/.bashrc ]; then
    source $HOME/.bashrc;
fi

[[ -r "/opt/homebrew/etc/profile.d/bash_completion.sh" ]] && . "/opt/homebrew/etc/profile.d/bash_completion.sh"
