eval "$(/opt/homebrew/bin/brew shellenv)"
eval "$(rbenv init - --no-rehash zsh)"
eval "$(jenv init -)"
eval "$(pyenv init -)"
eval "$(xcenv init -)"

source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh

setopt completealiases
