!.docker/*.json
!.gnupg/*.conf
!.local/base16-oxide.zsh-theme
!.oh-my-zsh/themes/oxide.zsh-theme
!.oh-my-zsh/plugins/archive/
!.nuget/NuGet/*.config
!.ssh/config
!.ssh/known_hosts
!.vscode/extensions/extionsions.json
._.DS_Store
.android/
.android/**
.aspnet/
.aspnet/**
.azcopy/
.azcopy/**
.azure/
.azure/**
.alfred/
.azuredatastudio/
.azuredatastudio/**
.azurefunctions/
.azurefunctions/**
.AzureToolsForIntelliJ/
.AzureToolsForIntelliJ/**
.cache/
.cache/**
.cargo/
.cargo/**
.CFUserTextEncoding
.config/
.config/**
.config/chezmoi.toml.tmpl
.cups/
.cups/**
.docker/
.docker/**
.dotnet/
.dotnet/**
.DS_Store
.env
.git-credentials
.gitlab-token.txt
.gnupg/
.gnupg/**
.IdentityService/
.IdentityService/**
.jenv/
.jenv/**
.lesshst
.local/
.local/**
.me/.DS_Store
.me/*.cert
.me/*.pem
.me/*.pfx
.me/private/
.me/private/**
.me/certificates/
.me/certificates/**
.msauth4j/
.msauth4j/**
.node_repl_history
.npm/
.npm/**
.nuget/
.nuget/**
.nvm/
.nvm/**
.oh-my-zsh/
.oh-my-zsh/**
.proxyman/*.cert
.proxyman/*.pem
.pyenv/
.pyenv/**
.python_history
.rbenv/
.rbenv/**
.rustup/
.rustup/**
.ServiceHub/
.ServiceHub/**
.ssh/
.ssh/**
.swiftpm/
.swiftpm/**
.templateengine/
.templateengine/**
.Trash/
.Trash/**
.terminfo/
.terminfo/**
.vagrant.d/
.vagrant.d/**
.vim/
.vim/**
.viminfo
.volta/
.volta/**
.vscode/
.vscode/**
.wakatime.cfg
.wakatime/
.wakatime/**
.xcenv/
.xcenv/**
.z
.zcompdump
.zcompdump-*
.zcompdump-**
.zsh_history
.zsh_sessions/**
*.cert
*.DS_Store
*.env
*.pem
**.cert
**.DS_Store
**.pem
Applications/
Applications/**
Desktop/
Desktop/**
Documents/
Documents/**
Downloads/
Downloads/**
Iso/
Iso/**
Library/
Library/**
Mail/
Mail/**
Movies/
Movies/**
Music/
Music/**
Parallels/
Parallels/**
Pictures/
Pictures/**
Public/
Public/**
README.md
src/
src/**
Users/
Users/**
yarn.lock
package-lock.json
.python_history
.node_repl_history
.npmrc
.volta/
.volta/**
.yarnrc
