._.DS_Store
!.alfred/preferences/prefs.plist
!.alfred/preferences/appearance
!.alfred/preferences/features
!.alfred/preferences/workflows
.alfred/
.aspnet/DataProtection-Keys/
.aspnet/dev-certs/https/
.azcopy/
.azure/
.azure-function-core-tools/
.azure-functions-core-tools/
!.azuredatastudio/extensions/extensions.json
.azuredatastudio/
.azurefunctions/
.AzureToolsForIntelliJ/
.cache/
.cargo/
.CFUserTextEncoding
.bash_history
.config/chezmoi
.config/chezmoi/
.config/containers/
.config/me/certificates/
.config/me/.env
.config/me/*.env
.config/me/raycast/
.config/sketchybar/*.zip
.config/sketchybar/*.zip.tmpl
!.config/chezmoi.toml.tmpl
.config/raycast/
.cursor/
!.docker/config.json
!.docker/daemon.json
.docker/
.dotnet/
.DS_Store
.env
.git-credentials
.gnupg/crls.d/
.gnupg/openpgp-revocs.d/
.gnupg/private-keys-v1.d/
.gnupg/public-keys.d/
.gnupg/pinentry-ide.sh
.gnupg/pubring.kbx
.gnupg/pubring.kbx~
.gnupg/S.*
.gnupg/tofu.db
.gnupg/trustdb.gpg
!.gnupg/*.conf
.IdentityService/
.jenv/
.lesshst
!.local/base16-oxide.zsh-theme
.local/
.me/.DS_Store
.me/*.cert
.me/*.pem
.me/*.pfx
.me/private/
.me/certificates/
.msauth4j/
.node_repl_history
!.npm/.npmrc
.npm/
!.nuget/NuGet/NuGet.Config
.nuget/
.nvm/
!.oh-my-zsh/themes/oxide.zsh-theme
.oh-my-zsh/
.pyenv/
.python_history
.rbenv/
.repoconfig/
!.rustup/settings.toml
.rustup/
.ServiceHub/logs/
.shada
*.shada
**.shada
!.ssh/config
!.ssh/known_hosts
.ssh/
.swiftpm/
.terminfo/
.templateengine/
.Trash/
.vagrant.d/
.vim/
.viminfo
!.volta/.keep
.volta/
!.vscode/extensions/extionsions.json
.vscode/
.wakatime.cfg
.wakatime/
.xcenv/
.z
.zcompdump
.zcompdump-*
.zcompdump-**
.zsh_history
.zsh_history/
.zsh_sessions
.zsh_sessions/
*.cert
*/*.cert
*/*.DS_Store
*.DS_Store
*.env
*/*.log
*.log
*.pem
*/*.pem
*.steV18
*/*.steV18
**.cert.cert
**.DS_Store.DS_Store
**.log.log
**.pem.pem
**.steV18.steV18
*.cert.tmpl
*/*.cert.tmpl
*/*.DS_Store.tmpl
*.DS_Store.tmpl
*.env.tmpl
*/*.log.tmpl
*.log.tmpl
*.pem.tmpl
*/*.pem.tmpl
*.steV18.tmpl
*/*.steV18.tmpl
**.cert.tmpl.cert.tmpl
**.DS_Store.tmpl.DS_Store.tmpl
**.log.tmpl.log.tmpl
**.pem.tmpl.pem.tmpl
**.steV18.tmpl.steV18.tmpl
Applications/
Desktop/
Documents/
Downloads/
Iso/
Library/
Mail/
Movies/
Music/
package-lock.json
Parallels/
Pictures/
Public/
README.md
src/
Users/
