theme = GitHub Dark
background-opacity = 0.8
background-blur-radius = 20
font-family = "Hack Nerd Font Mono"

keybind = super+q=close_all_windows
keybind = global:super+.=toggle_quick_terminal

quit-after-last-window-closed = false
initial-window = false
confirm-close-surface = false
quick-terminal-position = right
quick-terminal-animation-duration = 0
