[General]
cachedisable=false
cachepath=/private/var/folders/d8/r861p8z15rqbjn2knh94mtsm0000gn/T
install_fonts=true
install_manual=false
install_plugin_data=true
install_rockbox=true
install_voice=false
lang=
platform=ipod6g
proxy=//:@
proxytype=none
rbutil_version=3ed515872c
show_changelog=false
tts=carbon
use_tts_corrections=true
voicelanguage=bulgarian
