{
  "includeList": [
    {
      "kind": {
        "domain": [
          {
            "paths": [],
            "path": "",
            "url": "rxlightning-prod.com",
            "isPath": false,
            "title": "rxlightning-prod.com"
          }
        ]
      },
      "id": "Domain-rxlightning-prod.com",
      "isEnabled": true,
      "name": "rxlightning-prod.com"
    },
    {
      "isEnabled": true,
      "id": "Wildcard-*.rxlightning-demo.com",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.rxlightning-demo.com"
          }
        ]
      },
      "name": "*.rxlightning-demo.com"
    },
    {
      "id": "Domain-rxlightning-demo.com",
      "isEnabled": true,
      "name": "rxlightning-demo.com",
      "kind": {
        "domain": [
          {
            "paths": [],
            "url": "rxlightning-demo.com",
            "title": "rxlightning-demo.com",
            "path": "",
            "isPath": false
          }
        ]
      }
    },
    {
      "id": "Wildcard-*.rxlightning-staging.com",
      "name": "*.rxlightning-staging.com",
      "isEnabled": true,
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.rxlightning-staging.com"
          }
        ]
      }
    },
    {
      "id": "Domain-rxlightning-staging.com",
      "kind": {
        "domain": [
          {
            "title": "rxlightning-staging.com",
            "path": "",
            "paths": [],
            "isPath": false,
            "url": "rxlightning-staging.com"
          }
        ]
      },
      "name": "rxlightning-staging.com",
      "isEnabled": true
    },
    {
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.rxlightning-qa.com"
          }
        ]
      },
      "id": "Wildcard-*.rxlightning-qa.com",
      "isEnabled": true,
      "name": "*.rxlightning-qa.com"
    },
    {
      "kind": {
        "domain": [
          {
            "paths": [],
            "path": "",
            "title": "rxlightning-qa.com",
            "url": "rxlightning-qa.com",
            "isPath": false
          }
        ]
      },
      "isEnabled": true,
      "name": "rxlightning-qa.com",
      "id": "Domain-rxlightning-qa.com"
    },
    {
      "id": "Wildcard-*.rxlightning-dev.com",
      "name": "*.rxlightning-dev.com",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.rxlightning-dev.com"
          }
        ]
      },
      "isEnabled": true
    },
    {
      "id": "Domain-rxlightning-dev.com",
      "name": "rxlightning-dev.com",
      "isEnabled": true,
      "kind": {
        "domain": [
          {
            "path": "",
            "title": "rxlightning-dev.com",
            "isPath": false,
            "paths": [],
            "url": "rxlightning-dev.com"
          }
        ]
      }
    },
    {
      "isEnabled": true,
      "id": "Wildcard-*.sentry.io",
      "name": "*.sentry.io",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.sentry.io"
          }
        ]
      }
    },
    {
      "isEnabled": true,
      "id": "Domain-sentry.io",
      "kind": {
        "domain": [
          {
            "url": "sentry.io",
            "path": "",
            "title": "sentry.io",
            "isPath": false,
            "paths": []
          }
        ]
      },
      "name": "sentry.io"
    },
    {
      "name": "*.twilio.com",
      "id": "Wildcard-*.twilio.com",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.twilio.com"
          }
        ]
      },
      "isEnabled": true
    },
    {
      "id": "Domain-twilio.com",
      "isEnabled": true,
      "name": "twilio.com",
      "kind": {
        "domain": [
          {
            "isPath": false,
            "url": "twilio.com",
            "title": "twilio.com",
            "paths": [],
            "path": ""
          }
        ]
      }
    },
    {
      "id": "Wildcard-*.sendgrid.com",
      "name": "*.sendgrid.com",
      "isEnabled": true,
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.sendgrid.com"
          }
        ]
      }
    },
    {
      "name": "sendgrid.com",
      "kind": {
        "domain": [
          {
            "url": "sendgrid.com",
            "paths": [],
            "path": "",
            "isPath": false,
            "title": "sendgrid.com"
          }
        ]
      },
      "isEnabled": true,
      "id": "Domain-sendgrid.com"
    },
    {
      "isEnabled": true,
      "id": "Wildcard-*.postman.io",
      "name": "*.postman.io",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.postman.io"
          }
        ]
      }
    },
    {
      "isEnabled": true,
      "name": "postman.io",
      "id": "Domain-postman.io",
      "kind": {
        "domain": [
          {
            "paths": [],
            "title": "postman.io",
            "url": "postman.io",
            "isPath": false,
            "path": ""
          }
        ]
      }
    },
    {
      "isEnabled": true,
      "name": "*.postman.com",
      "id": "Wildcard-*.postman.com",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.postman.com"
          }
        ]
      }
    },
    {
      "kind": {
        "domain": [
          {
            "path": "",
            "paths": [],
            "url": "postman.com",
            "title": "postman.com",
            "isPath": false
          }
        ]
      },
      "id": "Domain-postman.com",
      "name": "postman.com",
      "isEnabled": true
    },
    {
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.docker.com"
          }
        ]
      },
      "name": "*.docker.com",
      "id": "Wildcard-*.docker.com",
      "isEnabled": true
    },
    {
      "kind": {
        "domain": [
          {
            "title": "docker.com",
            "url": "docker.com",
            "path": "",
            "paths": [],
            "isPath": false
          }
        ]
      },
      "name": "docker.com",
      "id": "Domain-docker.com",
      "isEnabled": true
    },
    {
      "id": "Wildcard-*.azure.com",
      "isEnabled": true,
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.azure.com"
          }
        ]
      },
      "name": "*.azure.com"
    },
    {
      "kind": {
        "domain": [
          {
            "title": "azure.com",
            "path": "",
            "isPath": false,
            "paths": [],
            "url": "azure.com"
          }
        ]
      },
      "isEnabled": true,
      "id": "Domain-azure.com",
      "name": "azure.com"
    },
    {
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.github.com"
          }
        ]
      },
      "id": "Wildcard-*.github.com",
      "name": "*.github.com",
      "isEnabled": true
    },
    {
      "name": "*.gitlab.com",
      "id": "Wildcard-*.gitlab.com",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.gitlab.com"
          }
        ]
      },
      "isEnabled": true
    },
    {
      "id": "Wildcard-*.git-tower.com",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.git-tower.com"
          }
        ]
      },
      "isEnabled": true,
      "name": "*.git-tower.com"
    },
    {
      "isEnabled": true,
      "name": "*.rxlightning.com",
      "id": "Wildcard-*.rxlightning.com",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.rxlightning.com"
          }
        ]
      }
    },
    {
      "id": "Wildcard-*.emptyscope.com",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.emptyscope.com"
          }
        ]
      },
      "name": "*.emptyscope.com",
      "isEnabled": true
    },
    {
      "id": "Wildcard-*.emptyscope.io",
      "isEnabled": true,
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.emptyscope.io"
          }
        ]
      },
      "name": "*.emptyscope.io"
    },
    {
      "isEnabled": true,
      "name": "*.ynhh.org",
      "id": "Wildcard-*.ynhh.org",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.ynhh.org"
          }
        ]
      }
    },
    {
      "id": "Wildcard-*.auth0.com",
      "isEnabled": true,
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.auth0.com"
          }
        ]
      },
      "name": "*.auth0.com"
    },
    {
      "name": "*.azure-api.net",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.azure-api.net"
          }
        ]
      },
      "isEnabled": true,
      "id": "Wildcard-*.azure-api.net"
    },
    {
      "name": "*.paysign.net",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.paysign.net"
          }
        ]
      },
      "id": "Wildcard-*.paysign.net",
      "isEnabled": true
    },
    {
      "id": "Wildcard-*.bradallen.me",
      "name": "*.bradallen.me",
      "kind": {
        "wildcard": [
          {
            "wildcard": "*.bradallen.me"
          }
        ]
      },
      "isEnabled": true
    },
    {
      "id": "Domain-bradallen.me",
      "kind": {
        "domain": [
          {
            "title": "bradallen.me",
            "isPath": false,
            "paths": [],
            "path": "",
            "url": "bradallen.me"
          }
        ]
      },
      "isEnabled": true,
      "name": "bradallen.me"
    },
    {
      "id": "Domain-paysign.net",
      "kind": {
        "domain": [
          {
            "path": "",
            "title": "paysign.net",
            "paths": [],
            "url": "paysign.net",
            "isPath": false
          }
        ]
      },
      "isEnabled": true,
      "name": "paysign.net"
    },
    {
      "id": "Domain-azure-api.net",
      "kind": {
        "domain": [
          {
            "path": "",
            "isPath": false,
            "url": "azure-api.net",
            "title": "azure-api.net",
            "paths": []
          }
        ]
      },
      "isEnabled": true,
      "name": "azure-api.net"
    },
    {
      "id": "Domain-auth0.com",
      "name": "auth0.com",
      "kind": {
        "domain": [
          {
            "path": "",
            "title": "auth0.com",
            "paths": [],
            "url": "auth0.com",
            "isPath": false
          }
        ]
      },
      "isEnabled": true
    },
    {
      "name": "ynhh.org",
      "id": "Domain-ynhh.org",
      "isEnabled": true,
      "kind": {
        "domain": [
          {
            "isPath": false,
            "paths": [],
            "url": "ynhh.org",
            "path": "",
            "title": "ynhh.org"
          }
        ]
      }
    },
    {
      "id": "Domain-emptyscope.io",
      "name": "emptyscope.io",
      "isEnabled": true,
      "kind": {
        "domain": [
          {
            "title": "emptyscope.io",
            "paths": [],
            "isPath": false,
            "url": "emptyscope.io",
            "path": ""
          }
        ]
      }
    },
    {
      "name": "emptyscope.com",
      "id": "Domain-emptyscope.com",
      "kind": {
        "domain": [
          {
            "url": "emptyscope.com",
            "isPath": false,
            "title": "emptyscope.com",
            "path": "",
            "paths": []
          }
        ]
      },
      "isEnabled": true
    },
    {
      "name": "rxlightning.com",
      "isEnabled": true,
      "kind": {
        "domain": [
          {
            "path": "",
            "title": "rxlightning.com",
            "isPath": false,
            "paths": [],
            "url": "rxlightning.com"
          }
        ]
      },
      "id": "Domain-rxlightning.com"
    },
    {
      "kind": {
        "domain": [
          {
            "isPath": false,
            "paths": [],
            "title": "git-tower.com",
            "path": "",
            "url": "git-tower.com"
          }
        ]
      },
      "isEnabled": true,
      "name": "git-tower.com",
      "id": "Domain-git-tower.com"
    },
    {
      "name": "gitlab.com",
      "id": "Domain-gitlab.com",
      "kind": {
        "domain": [
          {
            "isPath": false,
            "paths": [],
            "url": "gitlab.com",
            "path": "",
            "title": "gitlab.com"
          }
        ]
      },
      "isEnabled": true
    },
    {
      "id": "Domain-github.com",
      "isEnabled": true,
      "kind": {
        "domain": [
          {
            "path": "",
            "url": "github.com",
            "isPath": false,
            "title": "github.com",
            "paths": []
          }
        ]
      },
      "name": "github.com"
    }
  ],
  "excludeList": []
}
