[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12

function Get-CmdletAlias ($cmdletName) {
    Get-Alias |
    Where-Object -FilterScript { $_.Definition -like "$cmdletName" } |
    Format-Table -Property Definition, Name -AutoSize
}

function CustomizeConsole {
    $hostTime = "$(Get-ChildItem -Path $PSHOME).CreationTime"
    $hostVersion = "$($Host.Version.Major).$($Host.Version.Minor)"
    $Host.UI.RawUI.WindowTitle = "PowerShell $hostVersion ($hostTime)"
}

CustomizeConsole

function prompt {
    "$(Get-Location)> "
}
