# =========================
# Git detritus
# =========================
*.orig
.git-credentials

# =========================
# Dropbox detritus
# =========================
._.*

# =========================
# Apple detritus
# =========================
.DS_Store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.Trash/
.Trash/**

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# =========================
# VSCode detritus
# =========================
Applications/
Library/
Mail/
**/node_modules
**/bower_components
**/builds

# =========================
# Me detritus
# =========================
.me/*.cert
.me/*.pem
.me/*.pfx
.me/private/
.me/private/*
.me/private/**
.ssh/**
.wakatime.cfg
.wakatime/**
.z
.zcompdump
.zcompdump-*
.zcompdump-**
.zsh_history
.zsh_sessions/
.zsh_sessions/**

# =========================
# Secure detritus
# =========================
.cert
*.cert
**.cert
.env
*.env
**.env
.pem
*.pem
**.pem

# =========================
# Global Programming detritus
# =========================
.sass-cache/
node_modules/
